@import 'boilerplate';
@import 'grid';

@columns: 10;
@columns-width: 33;
@gutter-width: 20;
@total-width: 100%;
@contentWidth:100%;

@userListColor1: #222222;
@userListColor2: #242424;
@headerBGColor: #333333;
@titleColor: #33b5e5;

.content{
	.column(7)
	}
#aside {
	.column(3);
	background-color:#F2F4F8;
	div {
		background-color:rgba(0, 0, 0, 0.07);

		border-left: 1px solid rgba(0, 0, 0, 0.4);
	    box-shadow: 2px 0 2px -2px #B2B9C9 inset;
	}
	li {
		list-stye: none;
		display:block;
		height:30px;
		width:100%;
		border-bottom-color:#D8DFEA;
		border-bottom:1px solid;
		padding:2px 3px

		.inFight {
			background:url('../images/notActive.gif');
		}
	}
}
#header {
	height:30px;
	background-color:@headerBGColor;

	
	h1 {
		line-height:1.25em;
		margin:0 2em;
		font-size:1.2em;
		color: @titleColor;
	}
	.title {
		.column(7);
	}
    .userDiv {
    	.column(3);
		height:30px;
		color:#fff;
		right:0;
		top:0;
		text-align:left;
		color:#999;
		font-size:11px;
		line-height:1.25em;
		white-space:nowrap;

		.user{
 			padding:2px 15px 8px 0;
 			img{
		 	 	width:25px;
		 	 	height:25px;
		 	 	padding-right:10px;
		 	 }
 			a{
		 		color:@titleColor;
		 		font-size:1.5em;
		 		line-height:1.25em;
		 	}	
 		}

	}
}

.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
 
    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
  }
 
  .modal h2 {
    background:url(/media/img/global/info.png) 0 50% no-repeat;
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
  }

@media screen and (max-width: 540px) {

}
