@import 'boilerplate';
@import 'grid';

@columns: 10;
@columns-width: 33;
@gutter-width: 20;
@total-width: 100%;
@contentWidth:100%;

@userListColor1: #222222;
@userListColor2: #242424;
@headerBGColor: #333333;
@titleColor: #33b5e5;

.content{
	.column(7)
	}
#aside {
	.column(3);
	background-color:#F2F4F8;
	div {
		background-color:rgba(0, 0, 0, 0.07);

		border-left: 1px solid rgba(0, 0, 0, 0.4);
	    box-shadow: 2px 0 2px -2px #B2B9C9 inset;
	}
	li {
		list-stye: none;
		display:block;
		height:25px;
		border-bottom-color:#D8DFEA;
		padding:2px 3px
	}
}
#header {
	height:30px;
	background-color:@headerBGColor;

	
	h1 {
		line-height:1.25em;
		margin:0 2em;
		font-size:1.2em;
		color: @titleColor;
	}
	.title {
		.column(7);
	}
    .userDiv {
    	.column(3);
		height:30px;
		color:#fff;
		right:0;
		top:0;
		text-align:left;
		color:#999;
		font-size:11px;
		line-height:1.25em;
		white-space:nowrap;

		.user{
 			padding:2px 15px 8px 0;
 			img{
		 	 	width:25px;
		 	 	height:25px;
		 	 	padding-right:10px;
		 	 }
 			a{
		 		color:@titleColor;
		 		font-size:1.5em;
		 		line-height:1.25em;
		 	}	
 		}

	}
}

@media screen and (max-width: 540px) {

}
